.filter-card
  display flex
  justify-content space-between

  &_right
    flex-direction row-reverse

  &__title
    font-size 1.2rem
    margin-bottom .5rem

  &__description
    font-size .8rem
    margin-top 0

  &__upload
    background-color #26A9E0
    color #fff
    border-color #26A9E0
    font-size .8rem
    border-radius .2rem
    margin-right .3rem

    &:hover
      background-color #fff
      border 1px solid #26A9E0
      color #26A9E0

  &__figure
    padding .5rem
    margin 0

  &__info
    padding .5rem