.navbar
  &-list
    display flex
    padding 0

    &__item
      list-style none

      a
        border-radius  .1rem
        color hsla(0,0%,100%,.5)
        font-size .8rem
        padding .4rem .6rem
        text-decoration none

        &:hover
          background-color hsla(0, 0, 100%, .4)
          color hsla(0, 0%, 100%, .9)

        &.active
          color hsla(0, 0, 100%, .9)