.upload-form
  display flex
  flex-direction column

  &__row
    margin-bottom 1rem

  &__title
    font-size 1.2rem

  &__input
    display none

  &__label
    cursor pointer

  &__card
    margin-bottom 1rem