.range
  font-size .7rem

  label
    display block

  input[type="range"]
    -webkit-appearance none

    &:focus
      outline none

    &::-webkit-slider-runnable-track
      background #26a9e0
      height 5px

    &::-moz-range-track
      background #26a9e0
      height 5px

    &::-webkit-slider-thumb
      -webkit-appearance none
      height 15px
      width 15px
      background #fff
      margin-top -5px
      border-radius 50%
      border 1px solid #343a40

    &::-moz-range-thumb
      height 15px
      width 15px
      background #fff
      margin-top -5px
      border-radius 50%
      border 1px solid #343a40